<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" type="text/css" href="../style.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>Mike Deal</h1>
  <%=yield%>
</body>
</html>